<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PMDev - REST API Server</title>
    <link rel="stylesheet" href="/styles/css/style.min.css">
</head>

<body>
    <section id="hero">
        <div class="px-4 py-5 my-5 text-center">
            <img class="d-block mx-auto mb-4 rounded-circle" src="/images/PMDev.png" alt="" width="90" height="90">
            <h1 class="display-5 fw-bold text-body-emphasis">PMDev</h1>
            <div class="col-lg-6 my-5 py-5 mx-auto">
                <p class="lead mb-4">PMDev {RESTful API} Server Welcome!</p>
                <p>Looking for a freelancer to build you a perfectly tailored website?</p>
            </div>
        </div>
    </section>
</body>

</html>