@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');

$primary: #5E17EB;
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

html {
	scroll-behavior: smooth;
}

body {
    font-family: 'Roboto Mono', monospace;
    background: linear-gradient(90deg ,#cdffd8, #94b9ff);
    background-size: 600% 100%;
    animation: gradient 8s linear infinite;
    animation-direction: alternate;
}

.product-device {
	position: absolute;
	right: 10%;
	bottom: -30%;
	width: 300px;
	height: 540px;
	background-color: #333;
	border-radius: 21px;
	transform: rotate(30deg);
  }
  
  .product-device::before {
	position: absolute;
	top: 10%;
	right: 10px;
	bottom: 10%;
	left: 10px;
	content: "";
	background-color: rgba(255, 255, 255, .1);
	border-radius: 5px;
  }
  
  .product-device-2 {
	top: -25%;
	right: auto;
	bottom: 0;
	left: 10%;
	background-color: #e5e5e5;
  }
  

@keyframes gradient {
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}